.splash {
  width: 1920px;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -2;
}
.signup{
  height: 785px;
  color: #E2DBBE;
  text-align: center;
}

.greeting-container{
  position: absolute;
  top: 25%;
  left: 60%;
  width: 500px;
  height: 500px;
  background: rgba(20,13,79, .6);
  z-index: -1;
  color: #E2DBBE;
  padding: 10px 20px;
}

.slogan {
  width: 400px;
  margin: 0;
  position: absolute;
  top: 45%;
  left: 25%;
  transform: translate(-50%, -50%);
}
