.splash {
  width: 1920px;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -2;
}

.greeting-container{
  position: absolute;
  top: 25%;
  left: 60%;
  width: 500px;
  height: 500px;
  background: rgba(20,13,79, .6);
  z-index: -1;
  color: #E2DBBE;
  padding: 10px 20px;
}
