.splash {
  border-top: 3px solid darkblue;
  width: 1920px;
  height: 874px;
  position: absolute;
  top: 0px;
  left: 0px;
  max-width:100%;
  z-index: -2;
}
.signup{
  height: 785px;
  color: #E2DBBE;
  text-align: center;
}
.login-form-box{
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.greeting-container{
  border-radius: 20px;
  font-family: 'Raleway', sans-serif;
  position: absolute;
  top: 25%;
  left: 60%;
  width: 500px;
  height: 500px;
  background: rgba(20,13,79, .6);
  z-index: 1;
  color: #E2DBBE;
  padding: 10px 20px;
}
input[type=text]:focus {
    border: 3px solid #E2DBBE;
}
input[type=password]:focus {
    border: 3px solid #E2DBBE;
}
.slogan {
  text-shadow: 2px 2px grey;
  width: 450px;
  margin: 0;
  position: absolute;
  top: 45%;
  left: 25%;
  transform: translate(-50%, -50%);
}


.slogan h1{
  font-size: 36px

}
.slogan h2{
  font-size: 24px

}
