.nav-greeting h2{
  justify-content: center;
  text-align: center;
  line-height: 30px;
}
.loggedin-logo-container{
  padding: 10px;
  background: linear-gradient(to bottom, #EC576B , white);
}
.your-bookings{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-shadow: 1px 1px black;
}

.bookings-link{
  text-decoration: none;
  color: darkgrey;
}
.bookings-link:hover{
  background: lightgrey;
}
