.spot-image{
  max-width: 100%;
  max-height: 600px;
  display: block;
  overflow: hidden;
}
.spot-image img{
  position:relative;
  width: 2048px;
  top: -400px;
  left: 0;
}
.spot-overview h1{
  display: inline-block;
  padding: 10px 0px;
  font-size: 48px;
  font-size: 2.5vw;
  font-weight: bold;
}
.spot-overview h2{
  font-size: 32px;
  font-size: 2vw;
  color: grey;
  font-style: italic;
  padding-left: 24px;
}

.spot-show{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.below-image{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.description-feed{
  display: inline-block;
  padding: 20px;
  width: 700px;
}

.spot-nav-bar{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border-bottom: 2px solid grey;

}

.spot-nav-bar li {
  font-size: 12px;
  list-style: disc;
  padding: 10px 10px;
  margin-left: 20px;

}
.spot-nav-bar li:first-child {
  font-size: 12px;
  list-style: none;

  padding: 10px 10px;

}
.spot-nav-bar ul {
  margin: 0;
  padding: 0;

}

.booking-form{
  width: 300px;
}
